body, html{
    margin: 0;
    padding: 0;
    background-color: hsl(185, 41%, 84%);
    font-family: "Space Mono";
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.logo-div{
    display: flex;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 5em;
}

.hero{
    background-color: #FFFFFF;
    width: 55em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:1.5em;
    margin-bottom: 10em;
}

.leftSection{
    display:inline-flexbox;
    justify-content: left;
    align-items: flex-start;
    padding-right: 1em;
}

.pType1{
    color: #7a898a;
    line-height: 0;
    font-size: 1em
}

.bill{
    margin-top: 3em;
}

#bill{
    color: HSL(189°, 41%, 97%);
    text-align: right;
    font-family: "Space Mono";
    font-size: ;
    background-color: #f3f8fb;
    color: HSL(189°, 41%, 97%);
    color: #a5b6b6;
    border: 0;
    width: 13em;
    height: 1.75em;
    padding-right: 1em;
    border-radius: 0.25em;
    margin-bottom: 2em;
}

input:focus {
    outline-color: hsl(172, 67%, 45%);
  }

input[type='text'] { font-size: 24px; }

.divButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-gap: 0.75em;
    padding-top: 0.75em;
    padding-bottom: 2em;
}

button{
    color: hsl(189, 41%, 97%);
    background-color: hsl(183, 100%, 15%);
    border: 0;
    width: 4.5em;
    height: 2em;
    border-radius: 0.25em;
    font-family: "Space Mono";
    font-size: 1.5em;
    font-weight: lighter;
}

button:focus{
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
}

#customButton{
    border: 0;
    width: 4.5em;
    height: 2em;
    border-radius: 0.25em;
    font-family: "Space Mono";
    font-size: 1.5em;
    text-align: center;
    color: rgb(83,121,120);
    background-color: #f3f8fb;
    color: HSL(189°, 41%, 97%);
}

#numberOfPeople{
    background-image:url('images\icon-person.svg');
    margin-bottom: 2em;
    text-align: right;
    font-family: "Space Mono";
    font-size: ;
    background-color: #f3f8fb;
    color: #a5b6b6;
    border: 0;
    height: 1.75em;
    width: 13em;
    border-radius: 0.25em;
    padding-right: 1em;
}

.rightSection{
    background-color: hsl(183, 100%, 15%);
    width: 25em;
    height: 25em;
    margin-left: 2em;
    border-radius:1.25em;
}

.tipAmount{
    padding-top: 2.75em;
    padding-bottom: 1.75em;
}

.tipAmount, .total{
    padding-left: 2.5em;
}

.pType2{
    color:  #F4FAFA;
    font-size: 0.85em;
}

.pType3{
    color: hsl(186, 14%, 43%);
    line-height: 0;
    font-size: 0.85em;
}

.rightSectionUpper{
    display: flex;
}

.tipAmountLeft{
    justify-content: left;
    padding-left: 3em;
    padding-top: 2em;
}

.tipAmountRight{
    justify-content: right;
    padding-left: 5em;
}

.pTotal{
    padding-top: 4em;
}

.tipPerPerson, .tipTotal{
    font-size: 3em;
    text-align: right;
    color: hsl(172, 67%, 45%);
}

.btnReset{
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset{
    width: 14em;
    height: 1.75em;
    border-radius: 0.25rem;
    border: none;
    background-color: #0c686d;
    color: #065e64;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 3em;
}

.resetActive{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}





























/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
